<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="alert alert-danger col-lg-6 col-md-8 col-sm-10 offset-lg-3 offset-md-2 offset-sm-1" role="alert">
        <p class="alert-heading">
            <%= message %>
        </p>
    </div>
</div>
